.left {
    /* border: 2px solid red; */
    /* display: inline-block; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    /* padding: 23px 23px; */
}

.left img {
    
    height: 93px;
    width: 102px;
    display: block;
    margin: 0px auto;
    padding-bottom: 11px;
}
.center {
    
    display: block;
    width: 53%;
    margin: 20px auto;
    
}

.right {
    
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 31px;
}
body {
    font-family: 'Carrois Gothic', sans-serif;
    
    color: white;
    
    margin: 0px;
    padding: 0px;
    
    background: url('https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926_1280.jpg');
    width: 100vw;
    
}
*{
    font-family: 'Carrois Gothic', sans-serif; 
}
.left div {
    text-align: center;
    line-height: 16.3px;
}

.name:hover {
    color: yellow;
    text-decoration: underline;
}
.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;

}

.navbar li a {
    color: rgb(201 35 157);
    text-decoration: none;
    padding: 34px 23px;
    font-size: 25px;
}