.left {
    /* border: 2px solid red; */
    /* display: inline-block; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    /* padding: 23px 23px; */
}

.left img {
    
    height: 93px;
    width: 102px;
    display: block;
    margin: 0px auto;
    padding-bottom: 11px;
}
.center {
    
    display: block;
    width: 53%;
    margin: 20px auto;
    
}

.right {
    
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 31px;
}
body {
    font-family: 'Carrois Gothic', sans-serif;
    
    color: white;
    
    margin: 0px;
    padding: 0px;
    
    background: url('https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926_1280.jpg');
    width: 100vw;
    
}
*{
    font-family: 'Carrois Gothic', sans-serif; 
}
.left div {
    text-align: center;
    line-height: 16.3px;
}
.name{
    color: red;
}

.name:hover {
    /* font-size: 12px; */
    text-decoration: underline;
}
.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;

}

.navbar li a {
    color: rgb(6 144 175);
    text-decoration: none;
    padding: 20px 22px;
    font-size: 25px;
}
.navbar li a:hover {
        text-decoration: underline;
        
        color: yellow;
    }
.btn {
    font-family: 'Carrois Gothic', sans-serif;
    
    border: 2px solid #9b5f5f;
    color: white;
    background-color: #8d7373;

    margin: 0px 12px;
    padding: 6px 7px;
    border-radius: 11px;
    font-size: 13px;
    cursor: pointer;
}
.btn:hover {
    
    text-decoration: underline;
}
.container {
    border: 2px solid yellow;
    /* margin: 2px 2px; */
    margin: 146px 696px;
    padding: 27px 31px;
    display: block;
    width: 34%;
    border-radius: 16px;
}
h2 {
    text-align: center;
}

h2:hover {
    text-decoration: underline;
    color: rgb(21 219 219);
}